@font-face {
    font-family: Noto-Sans;
    src: url(./fonts/Noto_Sans/NotoSans-Regular.ttf);
    weight: 600;
}
@font-face {
    font-family: Noto-Sans;
    src: url(./fonts/Noto_Sans/NotoSans-Medium.ttf);
    weight: 700;
}
@font-face {
    font-family: Noto-Sans;
    src: url(./fonts/Noto_Sans/NotoSans-Bold.ttf);
    weight: 800;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Noto-Sans";
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.header {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

.main {
    height: 80%;
    display: flex;
    border: 1px solid green;
}

/* Initial popup before game start */
.background {
    height: 100vh;
    width: 100vw;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.4;
}
.popup {
    height: 700px;
    min-width: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 25%;
    top: 10%;
    background-color: white;
    z-index: 999;
    border-radius: 10px;
}
h2 {
    font-size:30px;
}
.popup-header {
    display: flex;
    flex-direction: column;
}
.popup-grid {
    display: flex;
}
.popup-header img {
    height: 40px;
}

.player, 
.computer {
    width: 50%;
    border: 1px solid orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* get columns lined up */
.player-grid, 
.computer-grid {
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* get boxes within column correctly positioned */
.column {
    display: flex;
    flex-direction: column-reverse;
}

.popup-grid .box,
.player-grid .box, 
.computer-grid .box {
    height: 40px; 
    width: 40px; 
    border: 1px solid black;
}

.footer {
    height: 10%;
    border: 1px solid blue;
}