@font-face {
    font-family: Noto-Sans;
    src: url(./fonts/Noto_Sans/NotoSans-Regular.ttf);
    weight: 600;
}
@font-face {
    font-family: Noto-Sans;
    src: url(./fonts/Noto_Sans/NotoSans-Medium.ttf);
    weight: 700;
}
@font-face {
    font-family: Noto-Sans;
    src: url(./fonts/Noto_Sans/NotoSans-Bold.ttf);
    weight: 800;
}
@font-face {
    font-family: Stick-No-Bills;
    src: url(./fonts/Stick_No_Bills/static/StickNoBills-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #002647;
    color: #8FADC7;
}

.header {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    padding-top: 20px;
    font-family: "Stick-No-Bills";
    font-size: 120px;
}

.main {
    font-family: "Stick-No-Bills";
    height: 80%;
    display: flex;
}

/* Initial popup before game start */
.background {
    height: 100vh;
    width: 100vw;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 0.4;
}

.popup {
    height: 780px;
    min-width: 530px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: absolute;
    left: 25%;
    top: 5%;
    background-color: #002647;
    z-index: 999;
    border-radius: 10px;
    font-family: "Noto-Sans";
}

h2 {
    font-size: 50px;
}

.popup-header p {
    font-size: 25px;
}

.popup-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.popup-grid {
    display: flex;
}

.popup-header img {
    padding: 20px 0px 5px 0px;
    height: 45px;
}

/* 'Start Game' button */
.start {
    height: 40px;
    width: 300px;
    background-color: #8FADC7;
    border: none;
    border-radius: 10px;
    font-family: 'Noto-Sans';
    font-size: 25px;
    color: #002647;
}

.player, 
.computer {
    min-height: 650px;
    min-width: 500px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.player {
    padding-left: 10%;
}
.computer {
    padding-right: 10%;
}

.player h4, 
.computer h4 {
    position: absolute;
    top: 0;
    font-size: 50px;
}

/* get columns lined up */
.player-grid, 
.computer-grid {
    height: 400px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 120px;
}

/* get boxes within column correctly positioned */
.column {
    display: flex;
    flex-direction: column-reverse;
}

.popup-grid .box,
.player-grid .box, 
.computer-grid .box {
    height: 45px; 
    width: 45px; 
    background-color: #8FADC7;;
    border: 1px solid #64798c;
}

.footer {
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-family: 'Noto-Sans';
}

.footer p {
    padding-bottom: 5px;
}

/* Github icon */
.footer svg {
    fill: #8FADC7;
    justify-self: end;
}

/* hover effects */
.computer .box:hover {
    cursor: crosshair;
}
.popup-header img:hover, 
.start:hover {
    cursor: pointer;
    transform: scale(1.05);
}